<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>daysleft WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>daysleft.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>daysleftlibrary.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>dayslefttoday.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>daysleftwatchlibrary.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5234434B1BBAF88A00E95BA4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5295EDCF1A94AE53007EF7E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5295EDD91A94AE53007EF7E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5295EDF71A94B398007EF7E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52B7E8801ABEDE9300E1949C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52CFBEF71A8B631B005234FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52CFBF0C1A8B631B005234FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
