<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>&quot;&quot;</string>
	<key>firstRun</key>
	<integer>0</integer>
	<key>weekdaysOnly</key>
	<false/>
	<key>end</key>
	<date>1999-12-31T00:00:00Z</date>
	<key>start</key>
	<date>1999-12-31T00:00:00Z</date>
</dict>
</plist>
