<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>589411312252-aebguud87miqdlse0a294ctjtsjpufg0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.589411312252-aebguud87miqdlse0a294ctjtsjpufg0</string>
	<key>API_KEY</key>
	<string>AIzaSyBvvyll-o_FPLTfMvgKOi0ACl6jseITO-s</string>
	<key>GCM_SENDER_ID</key>
	<string>589411312252</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bravelocation.daysleft</string>
	<key>PROJECT_ID</key>
	<string>countthedaysleft</string>
	<key>STORAGE_BUCKET</key>
	<string>countthedaysleft.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:589411312252:ios:692d8786cb55b3cd</string>
	<key>DATABASE_URL</key>
	<string>https://countthedaysleft.firebaseio.com</string>
</dict>
</plist>